html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

h1 {
  font-size: 7rem;
  font-family: 'Zen Tokyo Zoo';
}

@font-face {
  font-family: 'Zen Tokyo Zoo';
  src: url('/fonts/Zen-Tokyo-Zoo/regular.ttf');
  font-weight: 600;
}
